@font-face {
    font-family: "Bebas Neue";
    src: local("Bebas Neue Regular"), local("Bebas-Neue-Regular"),
        url("../fonts/BebasNeueRegular.woff2") format("woff2"),
        url("../fonts/BebasNeueRegular.woff") format("woff"),
        url("../fonts/BebasNeueRegular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: "Bebas Neue";
    src: local("Bebas Neue Bold"), local("Bebas-Neue-Bold"),
        url("../fonts/BebasNeueBold.woff2") format("woff2"),
        url("../fonts/BebasNeueBold.woff") format("woff"),
        url("../fonts/BebasNeueBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }

@font-face {
    font-family: "Roboto Condensed";
    src: local("Roboto Condensed Regular"), local("Roboto-Condensed-Regular"),
        url("../fonts/roboto-condensed-regular.woff2") format("woff2"),
        url("../fonts/roboto-condensed-regular.woff") format("woff"),
        url("../fonts/roboto-condensed-regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: "Roboto Condensed";
    src: local("Roboto Condensed Bold"), local("Roboto-Condensed-Bold"),
        url("../fonts/roboto-condensed-bold.woff2") format("woff2"),
        url("../fonts/roboto-condensed-bold.woff") format("woff"),
        url("../fonts/roboto-condensed-bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  height: 1px;
  width: 1px;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover{
  opacity: 0.6;
}
/*header*/

.header {
  padding-top: 29px;
  padding-bottom: 51px;
  background: conic-gradient(
    from 130.31deg at 16.03% 39.06%,
    #b80027 -46.69deg,
    #003d85 32.24deg,
    #b80027 313.31deg,
    #003d85 392.24deg
  );
}

.container {
  max-width: 1160px;
  margin-right: auto;
  margin-left: auto;
}

.logo-and-tel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link:hover{
  color: #ffffff;
}

.logo {
  width: 89px;
  height: 20px;
}

.contacts_tel {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400; 
  font-size: 26px;
  color: #ffffff;
  letter-spacing: 1px;
}

.header-content {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.header-description {
  text-align: right;
  color: #ffffff;
  margin-right: 64px;
}

.header-subtitle {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 49px;
  text-transform: uppercase;
  font-stretch: ultra-condensed;
  margin-bottom: 17px;
}

.header-title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 109px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.header-title-part2 {
  display: flex;
   margin-bottom: 60px;
   /*align-items: center;*/
}

.header-title-text {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin-right: 32px;
  line-height: 21px;
  padding-top: 10px;
}

.header-picture {
  display: block;
  max-width: 100%;
  margin-right: 96px;
}

.header_link {
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  border: 4px solid #ffffff;
  display: inline-block;
  color: #ffffff;
  padding: 24px 50px;
  width: 230px;
  text-align: center;
}

.socials {
  position: absolute;
  bottom: 0;
  right: 0;
}

.socials-item {
  margin-bottom: 24px;
}

.socials-item:last-child{
  margin-bottom: 50px;
}

.social-network {
  width: 14px;
  height: 10px;
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center;
  display: block;
}

.facebook {
  background-image: url("../svg/main-desktop-Fb.svg");
}

.vk {
  background-image: url("../svg/main-desktop-vk.svg");
}

.instagram {
  background-image: url("../svg/main-desktop-ig.svg");
}
/*header end*/

